body {
    font-family: Arial;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    line-height: 1.7;
}

nav {
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    margin-right: 20px;
}

nav a:hover {
    color: #0077cc;
}

h1 {
    color: #003366;
}
